@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --lb-yellow: #fbbf24; }
html {color-scheme: light dark;}
* {transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;}
:root {
  color: #1a1a1a;   /* light mode text */
  background: #ffffff;
}

.dark {
  color: #e5e5e5;   /* dark mode text */
  background: #0d0d0d;
}
